<menu class="frapps clearfix">
	{{#each this}}
		<li>
			<a>
				<span class="icon">
					{{#if icon}}
						<img src="{{path}}/{{icon}}">
					{{else}}
						<span class="h3">{{i 'file'}}</span>
					{{/if}}
				</span>
				{{name}}
			</a>
		</li>
	{{/each}}
	<li class="add">
		<a>
			<span class="icon">
				<span class="h3">{{i 'plus'}}</span>
			</span>
			{{L 'addMore'}}
		</a>
	</li>
</menu>
