<table class="table">
	<tbody>
		{{#each this}}
			<tr>
				<td width="70%">
					<strong>{{name}}</strong><br>
					<span class="text-muted">{{description}}</span><br>
					<small class="text-muted">{{url}}</small>
				</td>
				<td class="text-right text-muted">
					<span class="version">v{{version}}</span>
					<button class="btn btn-danger">{{i 'remove'}}</button>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
