<div id="wrap">
	<header>
		<div class="container">
			<nav>
				<li class="pull-right">
					<button class="btn btn-primary" onclick="FRAPPS.create()">{{L 'createYourOwn'}}</button>
				</li>
				<li class="all">{{a 'all' ''}}</li>
				<li class="yours">{{a 'yourFrapps' 'yours'}}</li>
				<li class="preferences">{{a 'preferences' 'preferences'}}</li>
			</nav>
		</div>
	</header>
	<section>
		<div class="container"></div>
	</section>
</div>
<footer>
	<div class="container">
		<p class="text-muted">
			<small>Frapp v{{version}} &nbsp;|&nbsp; Daniel Esteban Nombela {{i 'copyright-mark'}} {{year}} &nbsp;|&nbsp; {{L 'underGPL'}}</small>
		</p>
	</div>
</footer>
